<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588395638435-ji6su9sj6gpb33o2ols2uivvh6at1r3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588395638435-ji6su9sj6gpb33o2ols2uivvh6at1r3d</string>
	<key>API_KEY</key>
	<string>AIzaSyCR6K7mTaCEXjtfdZXVF5xdsG4mEA3fZgw</string>
	<key>GCM_SENDER_ID</key>
	<string>588395638435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salo.tv-shows</string>
	<key>PROJECT_ID</key>
	<string>ios-project-4eaaa</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-4eaaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588395638435:ios:93f4fcdf726d7df6f0d916</string>
</dict>
</plist>